{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SYSTÈME</title>
    <link rel="stylesheet" href="{% static 'laby.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>function preventBack() {window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };</script>
</head>
<body>
    <h1>VOUS ENTREZ DANS LE SYSTÈME</h1>
    <div id="screen">
        <div id="system"><img src="{% static 'laby/system.gif' %}" alt="sys"></div>
        <input onclick="Start(1,0)" type="button" value="DÉMARRER">
    </div>
</body>
<script src="{% static 'javascript.js' %}"></script>
</html>